.container-add{
    /* max-width: max-content; */
    background-image: url('../images//patrick-tomasso-QMDap1TAu0g-unsplash.jpg');      
    background-repeat: no-repeat;
    background-size:cover;      
    background-position:center;
    /* height: -webkit-fill-available; */
}

.container{
    background-color: white;
    padding:5%;
    border: solid 20px aliceblue;
}

.addPageHeading{
    margin-bottom: 40px;
}